<fieldset>
    <%= s.hidden_field :user_id, value: current_user.id %>
    <p>
    <%= s.hidden_field :id %>
    <%= s.label :name, 'Name:' %>
    <%= s.text_field :name %>
        
    <%= s.label :reps, 'Reps/Time:' %>
    <%= s.text_field :reps %>

    <%= s.label :sets, 'Sets:' %>
    <%= s.text_field :sets %>
    </p>
</fieldset>
