<div class="col-sm-offset-2 col-sm-10">
    <fieldset class="form-inline">

        <%= s.hidden_field :id %>
        <div class="form-group">
            <%= s.label :name, 'Name:' %>
            <%= s.text_field :name, class: 'form-control' %>
        </div>
            
        <div class="form-group">
            <%= s.label :reps, 'Reps/Time:', class: 'exersice_label' %>
            <%= s.text_field :reps, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= s.label :sets, 'Sets:', class: 'exersice_label' %>
            <%= s.text_field :sets, class:'form-control' %>
        </div>

    </fieldset>
</div>

