
<%= form_for workout do |f| %>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %><br>

    <%= f.label :category, 'Select all categories that apply' %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br>

    <%= f.radio_button :is_private, false %>
    <%= f.label :is_private, 'Public' %><br>

    <h4>Exercises</h2>

    <%= f.fields_for :exercises do |builder| %>
        <%= render partial: 'exercise_fields', locals: {s: builder} %>
    <% end %>
    <%= link_to_add_fields "Add Exercise", f, :exercises %>
    <%= f.submit %>
<% end %>
