
    <% workout.exercises.each do |exercise| %>
        <div class="row">
            <div class="col-sm-6">
                <div class="thumbnail">
                
                <div class="caption">
                    <h4><%= exercise.name %></h4>
                    <p><ul><li>Reps/Time: <%= exercise.reps %></li>
                            <li>Sets: <%= exercise.sets %></li></ul></p>
                    <p><%= display_edit_for_exercise(workout, exercise) %>   <%= display_delete_for_exercise(workout, exercise) %></p>
                </div>
                </div>
            </div>
        </div>
    <% end %>


