<h2> <%= @workout.name %></h2>

<%= display_edit(@workout) %><br>

<%= display_delete (@workout) %><br>

<%= link_to 'Add to Calendar', new_workout_scheduled_workout_path(@workout) %><br>



Categories: <%= display_categories_from_workout(@workout) %><br>

<%= @workout.is_private %>

<h4>Exercises</h2>

<ul>
    <% @workout.exercises.each do |exercise| %>
        <li>
            <ul>
                <li><h4><%= exercise.name %></h4></li>
                <li>Reps/Time: <%= exercise.reps %></li>
                <li>Sets: <%= exercise.sets %></li>

                <%= display_edit_for_exercise(@workout, exercise) %><br>

                <%= display_delete_for_exercise(@workout, exercise) %><br>

            </ul>
        </li>
    <% end %>
</ul>

<%= display_add_exersice(@workout) %>