
    <div class="container">    
        <div class="row">

            <div class="col-md-6">
                <div class="form__padding">
                    <h2> <%= @workout.name %></h2>

                    <%= display_edit_workout(@workout) %><br>

                    <%= display_delete_workout (@workout) %><br>

                    <%= link_to 'Add to Calendar', new_workout_scheduled_workout_path(@workout) %><br>

                    Categories: <%= display_categories_from_workout(@workout) %><br>

                    <%= @workout.is_private %>

                    <h4>Exercises</h2>

                    <%= render partial: 'show_exercises', locals: {workout: @workout} %>

                    <%= display_add_exersice(@workout) %>
                </div>
            </div>

            <div class="col-md-6">
                <%= image_tag 'climbing_rope.jpg' %>
            </div>

        </div>
    </div>
