<div class="jumbotron">
<h1>Log In</h1>
    <%= flash[:message] %><div><br>

<%= form_with(url: '/login') do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>
    <%= f.submit "Sign In", class: 'btn btn-primary' %>
<% end %>
</div>
