<h1> Sign Up </h1>

<%= render partial: 'errors', locals: {user: @user} %>
<%= button_to "Log in with Google", '/auth/google_oauth2'  %><br><br>
<%= form_with(model: @user, url: '/signup', method: 'post') do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %><br><br>

    <%= f.label :username %>:
    <%= f.text_field :username %><br><br>

    <%= f.label :password %>:
    <%= f.password_field :password %><br><br>

    <%=f.label :password_confirmation %>:
    <%=f.password_field :password_confirmation%><br><br>
    
    <%= f.submit 'Sign Up' %>
<% end %>