<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutBuddy</title>
    <%= favicon_link_tag 'dummbell_icon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <%= render 'partials/header' %>
 
    
      <%= yield %>
  
  <div class="container">
    <div class="row">
      <hr>
      <footer>
        <div class="col-md-4">
        <p>© 2020 WorkoutBuddy, Inc.</p>
        </div>
        <div class="col-md-4">
        <p><a target="_blank" href="https://icons8.com/icons/set/dumbbell--v1">Dumbbell icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
        </div>
        <div class="col-md-4">
        <p>Created by Leonardo Briones <%= link_to image_tag('github.png'), 'https://github.com/Leonzon95/workout-buddy', class: 'github' %></p>
        </div>

      </footer>
      
    </div>
  </div>
  </body>
 
</html>
